<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.fabienphoto.BusLineReader"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="6"/>
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".BusLineReaderActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!--Favories, TO FINISH -->
        <activity android:name = ".IHM.StartActivity"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--carte , abandonné? -->
        <activity
            android:name=".IHM.LineView"
            android:label="@string/app_name" >
        </activity>
        
        <!--préférences et téléchargement de nouveaux réseau -->
        <activity
            android:name=".IHM.Preferences"
            android:label="@string/app_name" >
        </activity>
        
        
        <!-- Listes des lignes par réseau -->
        <activity
            android:name=".IHM.LinesActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>
        
        <!-- Permission query by mapsforge (anyway, we need it for read/write hour lines) -->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>